body {
    background-color: #FF3300;
    color: #C70039;
    font-family: "Roboto Slab", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #FF5733;
    color: #C70039;
    font-family: "Roboto Slab", sans-serif;
} 